#ignore files in gitignore


### main folder
.DS_Store


### src folder
src/conda_env/*
src/git_repo/*
src/GenBank_db/*


### WABI2021
1_WABI_2021_CMash_manuscript/*
!1_WABI_2021_CMash_manuscript/data/

